*{
  margin: 0;
}

header{
  text-align: center;
  background-color: blueviolet;
  height: 59px;

  }
  nav a{
    gap: 40px;
    text-decoration: none;
    
  }
  section{
    background-color: burlywood;
    margin: 10px;
    padding: 10px;

  }
  article{
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding-bottom: 20px;
        
  }
  footer{
    background-color: aqua;
    text-align: center;
    padding: 20px;
  }